.header{
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
 position: sticky;
  top: 0;
  z-index: 100;
  }
  
  .header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 20px;
  
  }
  
  .header-search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  
  .search_input{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
  }
  
  .search-button{
    padding: 5px;
    background-color: #cd9042;
  }

  .header_nav{
    display: flex;
    justify-content: space-evenly;
  }

  .header-option{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-right: 10px;
    color: white;
    padding: 5px;
    justify-content: center;
  }
  .header-optionLineOne{
    font-size: 10px;
  }

  .header-optionLineTwo{
    font-size: 13px;
    font-weight: bold;
  }

  .header_optionBasket{
    display: flex;
    align-items: center;
    color: white;
  }

  .header_basketCount{
    margin-left: 10px;
    margin-right: 10px;
  }